*~
*#
.#*
*.pyc
*.table
*.script
*.dat
/.vscode/*

# latex

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.bcf
*.dvi
*.fdb*
*.fls
*.glg
*.gls
*.glo
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.mp
*.out
*.run.xml
*.swp
*.synctex.gz
*.tdo
*.toc
*.top
*.tmp
*.tui
*.abs

# macOS
.DS_Store
